extends layout/base.pug


block contenido
        .row.container.mt-2.mx-auto
            each error in errors
                    .alert.alert-danger.text-center(role='alert')= error

            each message in success
                .alert.alert-success.text-center(role='alert')= message
            
        .container-fluid.row
            .col-3
                .mt-4.p-3
                    h3 Formulario de Registro Contacto
        
                    form(action=`/agenda-contacto/${'edit/'+dataContacto._id || ''}` method="POST" autocomplete="off")
                        .mb-2
                            label(for="nombre").form-label Nombre:
                            input(type="text" name="nombre" placeholder="Coloca tu nombre." minlength="3" required value=`${dataContacto.nombre}`).form-control#nombre
                        .mb-2
                            label(for="telefono").form-label Telefono:
                            input(type="tel" name="telefono" placeholder="Coloca tu numero telefono." minlength="10" maxlength="10" value=`${dataContacto.telefono}` required).form-control#name
                        .mb-2
                            label(for="descripcion").form-label Descripcion:
                            textarea#descripcion(name="descripcion" cols="5" rows="2").form-control= `${dataContacto.descripcion}`
                        .mb-2
                            input(type="submit", value="Crear Contacto").btn.btn-primary

            .col-9.pt-3
                h1 Mostrar los contactos

                pre= JSON.stringify(contactos)

                .row.gap-1
                    each contacto in contactos
                        .col
                            .card
                                .card-header.text-center= contacto.nombre
                                .card-body
                                    h5.card-title=contacto.telefono
                                    p.card-text= contacto.descripcion
                                    .d-flex.gap-2
                                        a.btn.btn-primary(href=`/agenda-contacto/edit/${contacto._id}`) Editar
                                        a.btn.btn-primary(href=`/agenda-contacto/delete/${contacto._id}`) Eliminar
